<p id="notice"><%= notice %></p>

<h1>Show Page for Author: <%= @author.name %></h1>
<p>Books written:</p>
<% @author.books.each do |book| %>
  <%= book.name %>,
<% end %>

<br>
<br>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
